<h2 class="headline">עריכת אופציה</h2>
<div class="callshow">
  <%= render 'form', help_option: @help_option %>
  <%= link_to 'הצגה', @help_option, class: "btn btn-sm btn-flat" %>
  <%= link_to 'חזרה', help_options_path, class: "btn btn-sm btn-flat" %>
</div>
