<h2 class="headline">מסך פתיחת אופציה חדשה</h2>

<%= render 'form', help_option: @help_option %>
<div class="callshow">
  <%= link_to 'Back', help_options_path, class: "btn btn-sm btn-flat" %>
</div>
