.callcard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  position: relative;
}
.callactions{
  display: flex;
  margin-right: -26px;
}
.cardclose{
  position: absolute;
  right: 90%;
  left: 0%;
  top: 0;
  width: 50px;
}
.right_dir{
  left: 90%;
  right: 0%;
  width: 80px;
}
@media only screen and (max-width: 768px){
.right_dir {top: -12px;left: 80%;}
}
