.callcard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
  position: relative;
}
.callactions{
  display: flex;
  margin-right: -26px;
}
.cardclose{
  position: absolute;
  left: -100%;
  top: 0;
}
.right_dir{
  left: 100%;
  margin-left: 26px;
}
.right-dir{
  margin-left: -26px;
  margin-right: 0px;
}
