.bd {
    margin: 10%;
    padding-top: 25%;
    background-color: #FFF !important;
    width: 210mm;
    height: 297mm;
 }

 #background
{
     left: 0px;
     top: 0px;
     position: relative;
     margin-left: auto;
     margin-right: auto;
     width: 650px;
     height: 945px;
     overflow: hidden;
     z-index:0;
    }

 #Layer0
{
     left: 0px;
     top: 0px;
     position: absolute;
     width: 650px;
     height: 945px;
     z-index:1;
}

 #layer_2
{
     left: 129px;
     top: 24px;
     position: absolute;
     width: 392px;
     height: 32px;
     z-index:2;
}

 #LoremIpsum
{
     left: -1218px;
     top: 675px;
     position: absolute;
     width: 951px;
     height: 152px;
     z-index:3;
}

 #layer_4
{
     left: 42px;
     top: 74px;
     position: absolute;
     width: 566px;
     height: 65px;
     z-index:4;
}

 #help
{
     left: -148px;
     top: 440px;
     position: absolute;
     width: 652px;
     height: 728px;
     z-index:5;
}

 #IMG20200327WA0038
{
     left: 450px;
     top: 667px;
     position: absolute;
     width: 200px;
     height: 56px;
     z-index:6;
}

 #layer_7
{
     left: 485px;
     top: 696px;
     position: absolute;
     width: 130px;
     height: 47px;
     z-index:7;
}

 #Layer1
{
     left: 75px;
     top: 650px;
     position: absolute;
     width: 142px;
     height: 93px;
     z-index:8;
}

 #layer_9
{
     left: 47px;
     top: 691px;
     position: absolute;
     width: 196px;
     height: 52px;
     z-index:9;
}

 #layer_10
{
     left: 20px;
     top: 396px;
     position: absolute;
     width: 609px;
     height: 255px;
     z-index:10;
}

 #layer_11
{
     left: 15px;
     top: 780px;
     position: absolute;
     width: 615px;
     height: 50px;
     z-index:11;
}

 #layer_12
{
     left: 600px;
     top: 817px;
     position: absolute;
     width: 28px;
     height: 14px;
     z-index:12;
}

 #Layer2
{
     left: 43px;
     top: 849px;
     position: absolute;
     width: 564px;
     height: 86px;
     z-index:13;
}

 #Rectangle2
{
     left: -225px;
     top: 838px;
     position: absolute;
     width: 878px;
     height: 7px;
     z-index:14;
}

 #layer_314668690
{
     left: 79px;
     top: 155px;
     position: absolute;
     width: 492px;
     height: 37px;
     z-index:15;
     font-size: 48px;
}
.volcard{
  top: 180px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index:16;
}
span {
  // margin-right:25%;
  font-size: 24px;
  font-family: Heebo;
}
