<div class="calltoaction">
  <%= link_to 'לצפייה בקריאות', calls_path, class: "btn btn-flat" %>
  <%= link_to 'מסך איזורים', regions_path, class: "btn btn-flat" %>
  <%= link_to 'מסך ערים', cities_path, class: "btn btn-flat" %>
  <%= link_to 'מסך אופציות עזרה', help_options_path, class: "btn btn-flat" %>
</div>
