<h1>עריכת יישוב</h1>

<%= render 'form', city: @city %>
<div class="callshow">
    <%= link_to 'הצגה', @city,class: "btn btn-sm btn-flatgreen" %>
    <%= link_to 'חזרה', cities_path,class: "btn btn-sm btn-flatgreen" %>
</div>