<h2 class="headline">עריכת אזור</h2>

<%= render 'form', region: @region %>
<div class="callshow">
  <%= link_to 'הצגה', @region,class: "btn btn-sm btn-flatgreen" %>
  <%= link_to 'חזרה', regions_path,class: "btn btn-sm btn-flatgreen" %>
</div>
